<template name="plan">
	{{#if showPlan}}
		<div class="span12">
			<h1>Plan</h1>
			<div class="row">
				<div class="span4 workout-plan-column-container">
					<h2 class="workout-plan-column-title">Your Workouts</h2>
					<div class="work-outs-container">
						{{> WorkOutContainer}}
					</div>
				</div>
				<div class="span4 workout-plan-column-container">
					<h2 class="workout-plan-column-title">Friends Workouts</h2>
				</div>
				<div class="span4 workout-plan-column-container">
					<h2 class="workout-plan-column-title">Create New Workout</h2>
					{{> newWorkOut}}
				</div>
			</div>
		</div>
	{{/if}}
</template>

<template name="newWorkOut">
	{{#if createWorkout}}
		{{#if insertName}}
			<div class="work-out-container">
				<div class="helper-text">Name this workout</div>
				<input type="text" id="workout-input" class="input" placeholder="Work Out Name" />
				<div id="save-workout-name" class="button">Let's go!</div>
			</div>
		{{else}}
			<div class="work-out-container">
				{{> addExercises}}
			</div>
		{{/if}}
	{{else}}
		<div id="create-new-workout-container">
			<div id="create-new-workout" class="button button-green">Create New Workout</div>
		</div>
	{{/if}}
</template>

<template name="addExercises">
	<h3 class="work-out-title">{{workOutName}}</h3>
	<div class="exercise-list-container">
		<div class="exercise-name-header">Exercise Name</div>
		{{> exercises}}
	</div>
	<div id="add-exercise-container">
		<div class="add-exercise">+</div>
	</div>
	<div id="submit-new-workout" class="button button-green">Save</div>
	<div id="cancel-new-workout" class="button">Cancel</div>
</template>

<template name="WorkOutContainer">
	{{#each workouts}}
		<div class="work-out-container">
			<h3 class="work-out-title">{{name}}</h3>
			<span><a class="delete">remove</a></span>
			<div class="exercise-list-container">
				<div class="exercise-name-header">
					Exercise Name
				</div>
				{{> savedExercises}}
			</div>
		</div>
	{{/each}}
</template>

<template name="savedExercises">
	{{#each exercises}}
		<div class="exercise">
			{{name}}
		</div>
	{{/each}}
</template>

<template name="exercises">
	{{#each exercises}}
		{{> exercise}}
	{{/each}}
</template>

<template name="exercise">
	<div class="exercise">
		<input type="text" class="exercise-name-input" placeholder="Add exercise" value="{{name}}" />
	</div>
</template>