/*Columns*/
.workout-plan-column-container{
	border: 1px solid #999;
	border-radius: 3px;
}

.workout-plan-column-title{
	background: #e9e9e9;
	height: 40px;
	line-height: 40px; 
	font-size: 20px;
	text-align: center;
}

.work-out-container{
	border-top: solid 1px #999;
	display: inline-block;
	width: 298px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.work-out-title{
	display: inline-block;
	margin-right: 124px;
}

.delete{
	font-size: 10px;
}

.exercise-list-container{
	width: 286px;
	border-radius: 3px 3px 0px 0px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin-top: 10px;
	margin-bottom: 10px;
}

.exercise-name-header{
	background-color: #E6E6E6;
	padding-left: 10px;
	border-bottom: 1px solid #999;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}

.exercise{
	border-bottom: 1px solid #999;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
}

/*New workout*/
#workout-input{
	width: 196px;
	border: solid 1px #999;
	padding: 6px 0px 6px 6px;
	margin-right: 5px;
	margin-bottom: 15px;
}

#save-workout-name{
	border: 1px solid #999;
}

#create-new-workout{
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#create-new-workout-container{
	text-align: center;
}

.add-exercise{
	font-size: 18px;
	margin-bottom: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	background-color: #e9e9e9;
	color: #424242;
	border: 1px solid #999;
	cursor: pointer;
}

.add-exercise:hover{
	background-color: #999;
}

.exercise-name-input{
	border: none;
	height: 25px;
	line-height: 25px;
}

#submit-new-workout{
	margin-bottom: 10px;
}