

.work-out-input{
	margin-bottom: 0px;
}

#margin-zero{
	margin-bottom: 0px;
}



.exercise-item-container{
	border: 1px solid #343333;
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.work-out-name:hover{
	background-color: #f9f9f9;
	color: #343333;
}

.set-input{
	margin-bottom: 10px;
}

.weight-input{
	display: inline-block;
}

.times{
	display: inline-block;
	padding:5px;
}

.repetition-input{
	display: inline-block;
}

.delete,.save{
	cursor: pointer;
	color: #0088CC;
}

.delete:hover{
	color: #AD1025;
}

.save:hover{
	color: #FF8800;
}

.saved-weight, .saved-reps{
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}