.work-out-container{
	margin: 10px 10px 10px 0px;
	padding: 10px 20px 20px 20px;
	border-radius: 15px;
	border: solid 1px #424242;
	display: inline-block;
	width: 300px;
}

#work-out-input{
	margin-bottom: 0px;
}

.exercise-name-input{
	margin-bottom: 0px !important;
}

.work-out-input{
	margin-bottom: 0px;
}

#margin-zero{
	margin-bottom: 0px;
}

.exercise{
	margin: 10px 0px 10px 0px;
	border-radius: 5px;
	border: solid 1px #424242;
	padding: 10px;
}

.work-out-name,.exercise-name{
	list-style: none;
	border-radius: 4px;
	color: #f9f9f9;
	background-color: #343333;
	cursor: pointer;
	padding:5px;
	display: block;
	width: 150px;
	margin-bottom: 10px;
	border: 1px solid #343333;
	transition: background-color 400ms ease, color 100ms ease;
	-moz-transition: background-color 400ms ease, color 100ms ease;
	-webkit-transition: background-color 400ms ease, color 100ms ease;
	-o-transition: background-color 400ms ease, color 100ms ease;
}

.exercise-item-container{
	border: 1px solid #343333;
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.work-out-name:hover,.exercise-name:hover{
	background-color: #f9f9f9;
	color: #343333;
}

.set-input{
	margin-bottom: 10px;
}

.weight-input{
	display: inline-block;
}

.times{
	display: inline-block;
	padding:5px;
}

.repetition-input{
	display: inline-block;
}

.delete,.save{
	cursor: pointer;
	color: #0088CC;
}

.delete:hover{
	color: #AD1025;
}

.save:hover{
	color: #FF8800;
}

.saved-weight, .saved-reps{
	display: inline-block;
	font-size: 20px;
	margin-bottom: 20px;
}