<template name="plan">
	{{#if showPlan}}
		<h1>Plan</h1>

	  {{> newWorkOut}}

	  <div class="work-outs-container">
			{{> WorkOutContainer}}
		</div>

	{{/if}}
</template>

<template name="newWorkOut">
	<input type="text" id="work-out-input" placeholder="Create a new workout" />
	<div id="add-work-out-btn" class="btn btn-success">
		Create
	</div>
</template>

<template name="WorkOutContainer">
	{{#each workouts}}
		<div class="work-out-container">
			<h2>{{name}}</h2>
			<input type="text" class="exercise-name-input" placeholder="Add exercise" />
			<div class="add-work-out-btn btn btn-success">
				Add
			</div>
		<div class="exercise-list-container">
			{{> exercises}}
		</div>
		<span><a class="delete">delete</a></span>
		</div>
	{{/each}}

</template>

<template name="exercises">
		{{#each exercises}}
			{{> exercise}}
		{{/each}}
</template>

<template name="exercise">
	<div class="exercise">
		{{name}} <span><a class="delete">delete</a></span>
	</div>
</template>